:root {
    --KaiserBlue: #0078a9;
}

html {
    background-color: #401164;
    font-family: Helvetica;
}

.container {
    max-width: 95%;
    width: 85%
}

/* NAVBAR */
nav {
    padding: 5rem;
    background-color: white;
}
.logo {
    margin-top: -5rem;
}

/* NAV LINKS */
.nav-wrapper {
    margin-bottom: 0.6rem;
}
.nav-content {
    margin-top: 5rem;
}
.nav-item {
    font-size: 0.8rem;
    font-weight: 700;
    padding-right: 2rem;
}
.nav-item:hover {
    background-color: transparent;
    border-bottom: 3px solid black;
}
.active {
    border-bottom: 3px solid black;
}

/* HAMBURGER */
nav i.material-icons {
    font-size: 2rem;
}
nav .sidenav-trigger {
    padding-top: 1.5rem;
    margin-left: -18px;
}

/* SIDE NAV */
.sidenav {
    background-color: #401164;
    padding: 2rem;
}
.sidenav li > a {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: -1rem;
}

.footer-links {
    font-size: .8rem;
}
.page-footer {
    padding: 5rem
}