html {
    background-color: #561786;
    font-family: Helvetica;
}

.container {
    max-width: 95%;
    width: 85%;
}

/* NAVBAR */
nav {
    padding: 5rem;
    background-color: white;
}
.logo {
    margin-top: -5rem;
}

/* NAV LINKS */
.nav-wrapper {
    margin-bottom: 0.6rem;
}
.nav-content {
    margin-top: 5rem;
}
.nav-item {
    font-size: 0.8rem;
    font-weight: 700;
    padding-right: 2rem;
}
.nav-item:hover {
    background-color: transparent;
    border-bottom: 3px solid black;
}
.active {
    border-bottom: 3px solid black;
}

/* SCROLLABLE NAVBAR */
.navScrolled {
    width: 100%;
    padding: 1rem;
    z-index: 5000;
    padding-top: .01rem;
}
.scrolledNavContent {
    margin-top: -.2rem
}


/* HAMBURGER */
nav i.material-icons {
    font-size: 2rem;
}
#topNavTrigger {
    padding-top: 1.5rem;
    margin-left: -18px;
}

/* SIDE NAV */
.sidenav {
    background-color: #401164;
    padding: 2rem;
}
.sidenav li > a {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: -1rem;
}

/* POPOVER */
.popOver{
    background-color: #612490;
    border: 2px solid orange;
    width: 25rem;
    padding: 2rem;
    margin-left: 12rem;
    margin-top: -6rem;
    position: fixed;
    z-index: 5000;
}
.popOverItem {
    margin-bottom:2rem;
    color: white;
}
.popOverItem:hover {
    color: #87E1ED
}
.popOverBtn {
    margin-left: 5rem;
}
.popOverScrolled {
    background-color: #612490;
    border: 2px solid orange;
    width: 25rem;
    padding: 2rem;
    margin-left: 12rem;
    position: fixed;
    z-index: 5000;
}

/* MAIN CONTENT */
/* PROMOTION IMG */
.promotion-wrapper {
    padding: 1rem;
    background-color: #401164;
    display: flex;
    justify-content: center;
    padding-bottom: 30rem;
}
.promotion-img {
    background-image: url("https://nick.mtvnimages.com/uri/mgid:arc:content:nick.com:63d7dfba-35dd-48e5-b7cf-36c9c818cc2d?quality=0.7&width=1600&height=900&crop=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    background-color: #561786;
    border-radius: 5px;
    width: 85%;
    height: 35rem;
    position: absolute;
    z-index: 10;
    margin-top: 2rem;
}
.promotion-content {
    width: 25rem;
    margin-left: 2rem;
    margin-top: 15rem;
    color: white;
}
.content-title {
    text-align: center;
    margin-top: 8rem;
    color: #87e1ed;
    font-family: "Mega";
}

/* GAME CARDS */
.card {
    text-align: center;
    color: white;
    height: 43rem;
    background-color: #401164;
}
.card-image {
    background-color: #612490;
    padding: 3rem;
}
.card .card-image img {
    border-radius: 40px;
}
.card .card-image .card-title {
    position: relative;
    padding: 0;
}
.card .card-title {
    font-size: 1rem;
    font-weight: 900;
}
.card .card-content {
    padding: 1rem;
    background-color: #401164;
}
.advertisement-bar {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
}

/* FOOTER */
.page-footer {
    padding-top: 5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #401164;
    color: rgba(255, 255, 255, 0.65);
}
.footer-links {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: -4rem;
}
.footer-social {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.footer-text {
    color: rgba(255, 255, 255, 0.65);
}
.copywright {
    text-align: center;
}

/* MOBILE RESPONSIVENESS */
/* PROMOTIONAL IMAGE */
@media screen and (max-width: 660px) {
    .promotion-img {
        background-image: url("https://nick.mtvnimages.com/uri/mgid:arc:content:nick.com:63d7dfba-35dd-48e5-b7cf-36c9c818cc2d?quality=0.7&width=660&height=371&crop=true");
        background-size: cover;
        background-position: center center;
        height: 29rem;
    }
}

/* NAVBAR */
@media screen and (max-width: 660px) {
    nav {
        padding: 0.75rem;
        position: fixed;
        top: 0;
        z-index: 500;
        width: 100%;
    }
    nav .sidenav-trigger {
        padding-top: 0.75rem;
        padding-left: 1rem;
    }
    .logo {
        margin-top: -1.5rem;
    }
    .logo-img {
        height: 5rem;
    }
}
