:root {
    --KaiserBlue: #0078A9;
}

html{
    background-color: var(--KaiserBlue);
    font-family: Helvetica;
}

.p1-pt3 {
    padding: .1rem;
    padding-top: .3rem;
}

.KaiserBg {
    background-color: var(--KaiserBlue);
}

.KaiserText {
    color: var(--KaiserBlue);
}

.main {
    color: white;
}

/* Button:hover {
    background-color: white;
    color: var(--KaiserBlue);
    border: solid, 5px, var(--KaiserBlue);

} */

.inventoryItemText {
    font-weight: bold;
    font-size: xx-large;
}

.btnH {
    
    border: solid 2px var(--KaiserBlue);
}

.btnH:hover {
    color: var(--KaiserBlue);
    background-color: white;
    border: solid 2px var(--KaiserBlue);
}

.TextInput:focus {
    background-color: var(--KaiserBlue)
}

.center {
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}